{:itonami.blueprint/id "cloud-itonami-isic-9603"
 :itonami.blueprint/name "Funeral and related activities"
 :itonami.blueprint/isic-rev5 "9603"
 :itonami.blueprint/domain :services/funeral
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:community-access :data-sovereignty :transparency]
 :itonami.blueprint/governor :funeral-services-governor
 :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger]
 :itonami.blueprint/optional-technologies []
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/robotics true
 :itonami.blueprint/maturity :implemented}
