{:kotoba.app/id "cloud.itonami.isic-9603", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidv7odxglgystq62sj47avt56xpwnnrpv7ewtdtpvuxm3kxztmcgi", :kotoba.app/embed-url "ipfs://bafkreidv7odxglgystq62sj47avt56xpwnnrpv7ewtdtpvuxm3kxztmcgi", :published {:archive "https://kotobase.net/ipfs/bafkreidv7odxglgystq62sj47avt56xpwnnrpv7ewtdtpvuxm3kxztmcgi", :size 74227, :put-status 201, :get-status 200, :at "2026-08-15T13:45:02.285Z"}}
